<link rel="stylesheet" href="/css/card.css" />
<script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>

<% data.forEach(datam=>{ %> <% if (datam.isAvailable) {%>
<section id="card">
	<div class="container">
		<div class="card">
			<div class="card-top">
				<div class="information">
					<i class="fas fa-user"></i>
					<h1><%= datam.firstname +' '+ datam.lastname %></h1>
				</div>
				<div class="information">
					<i class="fas fa-phone-alt"></i>
					<h2><a href="tel:%=dat<am.mobileno%>"> <%=datam.mobileno%> </a></h2>
				</div>
			</div>
			<div class="card-middle">
				<div class="logo-info">
					<div class="information">
						<i class="fas fa-users"></i>
						<h2><%= datam.quantity %></h2>
					</div>
					<div class="information">
						<i class="fas fa-clock"></i>
						<h2><%= datam.time %> ago</h2>
					</div>
					<div class="information">
						<i class="fas fa-address-card"></i>
						<p><%= datam.address %></p>
					</div>
				</div>
				<p><%= datam.description %></p>
			</div>
			<div class="card-bottom">
				<button class="btn m-btn">Maps <i class="fas fa-map-marked-alt"></i></button>
				<button class="btn r-btn">Remove <i class="fas fa-times-circle"></i></button>
			</div>
		</div>
	</div>
</section>

<%}%> <% }) %>
